// https://google-webfonts-helper.herokuapp.com/fonts

/* roboto-condensed-300 - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-300italic - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-300italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-regular - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-italic - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-700 - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-700italic - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/RobotoCondensed/roboto-condensed-v19-latin-700italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }