.LayoutWithBackground {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url('../assets/images/login.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
